.post-container {
	background: #bcc8f3;
	display: flex;
	flex-direction: column; 
	padding: 2%;
	margin:  1%;
    margin-top: 3%;
}
.heading {
	height: 50px;
	text-align: center;
	display: flex;
	align-items: center;
}
.image {
	width: 290px;
	height: 200px;
}
